# Servidor
HOST=0.0.0.0
PORT=3000

# JWT
JWT_SECRET=cambia_esta_clave_por_una_muy_larga_y_aleatoria
JWT_EXPIRATION=8h

# Admin inicial (solo se crea si no existe en la base)
DEFAULT_ADMIN_USERNAME=username
# Genera tu hash con bcrypt y pega el valor aqui
DEFAULT_ADMIN_PASSWORD_HASH=$2a$12$5/xgDE4naf5aF84eu2nHoe0iXg2Dq9k6KYFHeAlHWG3vQfSb0sCNa
